{% extends "base.html" %}

{% block title %}Score{% endblock %}

{% block content %}

<!--


<div class="score-page-container">

    <!-- PAGINA TITEL -->
    <!-- Toont de naam van het dashboard -->
    <h1 class="score-page-title">📊 Score Dashboard</h1>


    <!--
    TOP SECTION:
    Deze sectie bevat 2 belangrijke onderdelen:
    1. Gemiddelde score
    2. Trend grafiek
    -->
    <div class="score-page-top-grid">

        <!--
        GEMIDDELDE SCORE KAART:
        Toont de gemiddelde score van de leerling.
        -->
        <div class="score-page-card">

            <h2>Gemiddelde Score</h2>
                <!--
            CIRKEL SCORE:
            Visuele weergave van de gemiddelde score.
            -->
            <div class="score-page-circle-wrapper">

                <div class="score-page-circle">
                    {{ data.average_score }}
                </div>

                <div class="score-page-circle-subtext">/10</div>

                <!--
                BADGE:
                Toont procentuele verandering deze maand.
                -->
                <div class="score-page-badge-up">
                    ⬆ +{{ data.monthly_change }}% deze maand
                </div>

            </div>
        </div>




{% endblock %}
