{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}
<div class="header">
  <div class="header-container">
    
    <div class="header-text">
      <h1 class="title">Dashboard</h1>
      <p class="subtitle">Welkom terug. Hier zie je voortgang.</p>
    </div>

    <div class="user-box">
      <span class="user-circle">JN</span>
      <span class="user-name">Leerling: Jouw Naam</span>
    </div>

  </div>
</div>
{% endblock %}

{% block content %}

<div class="body-content">
  <h2>Overzicht</h2>
  <p>Hier komt jouw dashboard data...</p>
</div>

{% endblock %}