<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>

  <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/style.css')}}"
    />
</head>

<body class="main-body dashboard-page">
   

  <div class="header">
    <div class="header-container">
      
      <div class="header-text">
        <h1 class="title">Dashboard</h1>
        <p class="subtitle">Welkom terug. Hier is je voortgang.</p>
      </div>

      <div class="user-box">
        <span class="user-circle">JN</span>
        <span class="user-name">Leerling: Jouw Naam</span>
      </div>

    </div>
  </div>

  <div class="body-content">
    
  </div>

</body>
</html>